*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(images/wooden-table-with-blurred-background.jpg);
    background-size: cover;
    
}
.container{
    max-width: 400px;
    padding: 50px;
    margin-top: 60px;
    background: rgba(255, 255, 255, 0.85);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    animation: fadeIn 0.5s ease-in-out;
}
.link{
    float: right;
    text-decoration: none;
    
}

/*signup page*/
.signup-container{
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.85);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    animation: fadeIn 0.5s ease-in-out;
}
.link1{
    float: right;
    text-decoration: none;
}
/*FormValidation*/
.password-strength {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}
.strength-strong {
    color: green;
}
.strength-medium {
    color: orange;
}
.strength-poor {
    color: red;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}